<!DOCTYPE html>
<html>
    
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/test.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>

  <div id="page-container">
      <div id="content-warp">
    <nav style="background-color: #800ace;">
    

    <ul class="nav justify-content-end navbar bt-light xl" >
        <li class="nav-item1" >
            <a class="navbar-brand <%- currentPage == 'index' ? 'active' : ''%>"   href="/">
            <img src="/images/103180.png" alt="" width="30" height="24" class="d-inline-block align-text-top"/>Home</a>
          </li>
        <li class="nav-item" >
          <a class="nav-link <%- currentPage == 'signup' ? 'active' : ''%>" aria-current="page" href="/users/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- currentPage == 'login' ? 'active' : ''%>"" href="/users/login">Log in</a>
        </li>
       </ul>
     

    </nav>
<div class="container mt-2">