<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/test.scss' />
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> 3213</p>
  <button class="btn btn-primary">Test</button>
  </body>
</html>
